* {
    font-family: 'Montserrat', sans-serif;
}

.row.row-hover:hover {
    background-color: #959EAB;
}

.app-body {
    background-color: #ADB3BB;
}

.app-bg-primary {
    background-color: rgb(22,27,34);
}

.app-bg-secondary {
    background-color: rgb(20,20,24);
}

.app-bg-tertiary {
    background-color: #064663;
}

.app-bg-quaternary {
    background-color: #ECB365;
}

.app-text-primary {
    color: #041C32;
}

.app-text-secondary {
    color: #04293A;
}

.app-text-tertiary {
    color: #064663;
}

.app-text-quaternary {
    color: #ECB365;
}

.nav-item:hover {
    background-color: rgb(44,48,52);
}

.muted-gray-hover:hover {
    background-color: rgb(44,48,52);
}

.svg-icon {
    width: 16px;
    height: 16px;
    color: white
}